@import "~bootstrap/dist/css/bootstrap.min.css";
 
body {
    background-color: green;
}

#card {
    border-radius: 25px;
    border: white;
    background: white;
    width: 400px;
    height: 800px;
    padding: 10%;
}