@import "~bootstrap/dist/css/bootstrap.min.css";

body {
  background-color: green;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-container {
  text-align: center;
}

#card {
  border-radius: 10px;
  border: 1px solid white;
  background: white;
  width: 250px;
  height: 400px;
  padding-top: 100px;
  margin-bottom: 20px;
  text-align: center;
  position: relative;
}

.suit,
.rotated {
  font-size: 5rem;
}

.value {
  font-size: 7rem;
}

.suit {
  color: red;
  position: absolute;
  top: 0;
  left: 0;
}

.suit.black {
  color: black;
  position: absolute;
  top: 0;
  left: 0;
}

.rotated {
  transform: rotate(180deg);
  color: red;
  position: absolute;
  bottom: 0;
  right: 0;
}

.rotated.black {
  transform: rotate(180deg);
  color: black;
  position: absolute;
  bottom: 0;
  right: 0;
}
